* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

header {   
    /* why i cannot put it as vh-75 in my html? */
    height: 75vh;
}

/*** BLOBS STYLING ****/
header {
    position: relative;
    overflow: hidden;
}

.blob1 {
    position: absolute;
    margin-top: -20%;
    margin-left: -30%;
    width: 70vw;
}

.blob2 {
    position: absolute;
    margin-top: 10%;
    margin-left: 80%;
    width: 40vw;
}

/* blob styling ends */

.bg-blue {
    background-color: #3755be;
}

.bg-pink {
    background-color: #ff8e88;
}

.bg-dark {
    background-color: #1b1f3b;
}

.btn {
    border: 1px solid transparent;
    padding: .4375rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
}

.btn-white {
    color: #3755be;
    background-color: white;
}

.btn-white:hover {
    background-color: #ff8e88;
    color:#3755be;
}

.btn-primary-3 {
    color: #fff;
    background-color: #1b1f3b;
    border-color: #1b1f3b;
}

.btn-primary-3:hover {
    background-color: #ff8e88;
    color: #fff;
    border-color: #ff8e88;
}

.display-3 {
    line-height: 1.2;
    font-weight: 600;
}

.display-4 {
    font-weight: 600;
}

.rotate {
    transform : translate(100, 100) rotate(45 60 60);
}

/* animation header */
.slide-fade {
	-webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate both, fadeIn ease 1s;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
    
@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
    
@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
    
@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

/****Cards Animation****/
.rotate-90-bl-ccw:hover {
    -webkit-animation: rotate-90-bl-ccw 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: rotate-90-bl-ccw 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes rotate-90-bl-ccw {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }    100% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

@keyframes rotate-90-bl-ccw {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }    100% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
    }
}

.hover-shadow-3d:hover {
    box-shadow: .5rem .5rem 0 rgba(233, 236, 239, .5);
}

/* counter  */

.counter {
    background-color: #f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
    opacity: 0.7;
}

.counter:hover {
    opacity: 1.0;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #fff;
}

.count-1 {
    background-image: url(https://images.unsplash.com/photo-1491001224967-2c0ee18a7c42?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
}

.count-2 {
    background-image: url(https://images.unsplash.com/photo-1507133750040-4a8f57021571?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
}

.count-3 {
    background-image: url(https://images.unsplash.com/photo-1438762398043-ac196c2fa1e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
}

.count-4 {
    background-image: url(https://images.unsplash.com/photo-1530936645058-0759135246db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=702&q=80);
    background-size: cover;
}

/* card button css */

.shadow-pop-br:hover {
    -webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-br 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes shadow-pop-br {
    0% {
        -webkit-box-shadow: 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7;
        box-shadow: 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: 1px 1px #91a1d7, 2px 2px #91a1d7, 3px 3px #91a1d7, 4px 4px #91a1d7, 5px 5px #91a1d7, 6px 6px #91a1d7, 7px 7px #91a1d7, 8px 8px #91a1d7;
        box-shadow: 1px 1px #91a1d7, 2px 2px #91a1d7, 3px 3px #91a1d7, 4px 4px #91a1d7, 5px 5px #91a1d7, 6px 6px #91a1d7, 7px 7px #91a1d7, 8px 8px #91a1d7;
        -webkit-transform: translateX(-8px) translateY(-8px);
        transform: translateX(-8px) translateY(-8px);
    }
}

@keyframes shadow-pop-br {
    0% {
        -webkit-box-shadow: 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7;
        box-shadow: 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7, 0 0 #91a1d7;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: 1px 1px #91a1d7, 2px 2px #91a1d7, 3px 3px #91a1d7, 4px 4px #91a1d7, 5px 5px #91a1d7, 6px 6px #91a1d7, 7px 7px #91a1d7, 8px 8px #91a1d7;
        box-shadow: 1px 1px #91a1d7, 2px 2px #91a1d7, 3px 3px #91a1d7, 4px 4px #91a1d7, 5px 5px #91a1d7, 6px 6px #91a1d7, 7px 7px #91a1d7, 8px 8px #91a1d7;
        -webkit-transform: translateX(-8px) translateY(-8px);
        transform: translateX(-8px) translateY(-8px);
    }
}

.ml-2 {
    margin-left: .75rem !important;
}

.avatar {
    width: 48px;
    height: 48px;
}

